[defaults]
roles_path = roles
inventory = inventories/example
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
forks = 20
callback_result_format = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
